@import '../../common/styles/sass/mixins';
@import '../../common/styles/sass/variables';

.projectsBlock {
  background-color: $mainBackgroundColor;
  padding: 50px 0;

  .projectsContainer {
    @include container();
    flex-direction: column;
    justify-content: flex-start;

    .projects {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;

      @media screen and (max-width: 1005px) {
        justify-content: center;
      }
    }
  }
}