$secondColor: #007ced;
$textColor: #f0f0f0;
$mainBackgroundColor: #22262a;
$secondBackgroundColor: #161616;
$descriptionTextColor: #9f9f9f;

$textTitleColor: #eeeeee;
$lineFinishColor: #007ced;
$lineStartColor: #007ced;

$mainFontFamily: 'Poppins', sans-serif;